@model Domain.Models.CampanhaModel


<div class="row">

    <div class="col-md-6">

        @Html.HiddenFor(model => model.ID)

        <div class="row">

            <div class="form-group col-md-12 @if (!ViewData.ModelState.IsValidField("Descricao")) { @Html.Raw("has-error") }">
                <label>Descricao</label>
                @Html.TextAreaFor(model => model.Descricao, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Descricao, String.Empty, new { @for = "inputError", @class = "control-label" })
            </div>

            <div class="form-group col-md-12 @if (!ViewData.ModelState.IsValidField("Nome")) { @Html.Raw("has-error") }">
                <label>*Vídeo</label>
                @Html.TextBoxFor(model => model.Video, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Video, String.Empty, new { @for = "inputError", @class = "control-label" })
            </div>

        </div>

    </div>
    <div class="col-md-6">
        @if (Model != null && Model.ID > 0)
        {
            @*<form id="frmUpload" name="frmUpload" action="/Bolos/Upload/@Model.Bolo.ID" method="post" enctype="multipart/form-data">*@
            @*@Html.AntiForgeryToken()*@
            <div class="row">
                <div class="form-group col-lg-12">
                    <label>Fotos</label>
                    <input type="file" class="form-control" name="foto" multiple />
                </div>
                <div class="form-group col-lg-12">
                    <button type="button" onclick="$('#LoadingModal').modal({ backdrop: 'static', keyboard: false });document.forms[0].action='/Campanhas/Upload/@Model.ID';document.forms[0].submit();" class="btn btn-default">Enviar</button>
                </div>
            </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        <ul class="list-inline">
                            @foreach (var item in Model.Fotos)
                            {
                                <li>
                                    <i class="fa fa-trash confirmDelete" data-action="/Campanhas/ExcluirFoto/@item.ID" style="cursor:pointer;float:right;margin-right:10px;"></i>
                                    <br />
                                    <a href="/_uploads/@item.Foto" data-toggle="lightbox" data-gallery="fotos-bolo" data-type="image">
                                        <img src="/_uploads/@item.Foto.Insert(item.Foto.LastIndexOf("."), "_thumb")" class="img-thumbnail" />
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                @*</form>*@
        }
    </div>

</div>
