<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>SARE Web Admin - @ViewBag.Title</title>

    <!-- Bootstrap Core CSS -->
    <link href="/content/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/content/dist/css/fontawesome-all.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="/content/dist/css/main.css" rel="stylesheet">

    @RenderSection("styles", false)

</head>

<body>

    <div id="wrapper" class="container-fluid">
        <div class="row">

            <!-- Sidemenu -->
            <nav class="col-md-2 d-none d-md-block sidebar bg-white expanded">

                <!-- Account info -->
                <div class="btn-group w-100 dropright account-dropdown-wrapper">
                    <button type="button" class="w-100 dropdown-toggle dropdown-button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
                        <div class="media user-dropdown">
                            <img class="mr-3" src="~/Content/Images/avatar-male.png" alt="Avatar Image">
                            <div class="media-body text-left">
                                <h5 class="mb-0 text-blue username-text">Usuário</h5>
                            </div>
                        </div>
                    </button>
                    <div class="dropdown-menu account-dropdown rounded-0 text-uppercase">
                        <a class="dropdown-item" href="~/App/Logout/">
                            <i class="fas fa-sign-out-alt pr-3 py-2"></i>Sign Out
                        </a>
                    </div>
                </div>


                <!-- Navigation -->

                <ul class="nav flex-column sidebar-nav align-middle">
                    <li class="nav-item">
                        <a class="nav-title" href="/Alunos/">
                            <i class="fas fa-user-plus"></i>
                            <span>Cadastros</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Alunos/">
                            <i class="fas fa-angle-right"></i>
                            <span>Alunos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Escolas/">
                            <i class="fas fa-angle-right"></i>
                            <span>Escolas</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Turmas/">
                            <i class="fas fa-angle-right"></i>
                            <span>Turmas</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Grupos/">
                            <i class="fas fa-angle-right"></i>
                            <span>Grupos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Usuarios/">
                            <i class="fas fa-angle-right"></i>
                            <span>Usuários</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-title" href="/AvaliacoesGrupo/">
                            <i class="fas fa-align-left"></i>
                            <span>Ver avaliações</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-title" href="#">
                            <i class="fas fa-chart-pie"></i>
                            <span>Gráficos</span>
                        </a>
                    </li>
                </ul>

                <!-- SARE logo -->
                <div class="sidebar-logo fixed-bottom position-absolute">
                    <img class="sidebar-logo__img" src="~/Content/Images/logo.png" alt="sare-logo">
                </div>

                <!-- /nav -->
            </nav>

            <div id="page-wrapper" class="col-md-12 ml-sm-auto col-lg-12 content">

                <div class="content__app">

                    @RenderBody()

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#wrapper-container -->

    <form id="__AjaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</form>

    <!-- jQuery -->
    <script src="/content/js/jquery.js"></script>
    <script src="~/Content/jquery.confirm.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/Site.js"></script>

    @RenderSection("scripts", false)
</body>

</html>